/* Common CSS */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: arial;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#container {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

/* Layout */
#header {
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

#banner {
    position: relative;
}
#banner img {
    width: 100%;
    min-height: 600px;
}
#banner .form {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}
#banner .wrapper {
    height: 100%;
    width: 100%;
    display: table;
}
#banner .inner-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.form ul {
    margin: 0px auto;
    padding: 25px 0px;
    list-style: none;
    background: #fff;
    width: 80%;
}

.form ul li {
    display: inline-block;
    margin: 0px 15px;
}

.form input[type="text"], .form input[type="date"] {
    height: 35px;
    padding: 0px 15px;
    width: 200px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
}

.form input[type="text"]:focus, .form input[type="date"]:focus {
    border: 3px solid red;
}

#main-navigation {
    float: left;
    width: 65%;
    padding-top: 30px;
}
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-navigation ul li {
    display: inline-block;
    margin: 0px 15px;
}
#main-navigation ul li a {
    text-decoration: none;
    color: #fff;
}

#content {
    
}

#main {
    
}

#footer {
    
}

/** Specific **/
.logo {
    float: left;
    width: 30%;
}


/**** Section1 ****/
#section1 {
    padding: 50px 0px;
    text-align: center;
}

#section1 .column {
    float: left;
    width: 30%;
    margin: 0px 10px;
}

.button1 {
    font-size: 16px;
    min-width: 200px;
    height: 35px;
    background: #F8AB00;
    border: 1px solid #F8AB00;
    margin-top: 30px;
    color: #fff;
}